@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-Black.woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-Light.woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Thicccboi';
  src: url('../asset/Thicccboi/THICCCBOI-Thin.woff2');
  font-weight: 100;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Thicccboi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0c0c0c;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  padding: 0;
  list-style-type: none;
}

hr{
  margin: 0;
  height: 0;
  border: none;
  border-top: 1px solid #393939;
}

* {
  box-sizing: border-box;
}
